nav {
    background-color: #8892f0;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    gap: 15%;
  }
  #logoNav {
    color: #c5c2c2;
    font-size: 20px;
    font-family: "Alkatra", cursive;
  }
  #logoNav span {
    color: rgb(121, 255, 121);
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    position: relative;
  }
  
  nav a {
    display: block;
    color: #fff;
    position: relative;
    text-decoration: none;
  }
  nav a.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }
  
  nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
  }
  
  nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  nav .dropdown-menu li {
    margin: 0;
  }
  
  nav .dropdown-menu a {
    padding: 10px;
    color: #333;
    display: block;
  }
  
  nav .dropdown-menu a:hover {
    background-color: #f5f5f5;
  }